<div class="container">
    <nav class="navbar sticky-top navbar-dark bg-primary" style="margin-top: 10px;">
       
            <nav class="navbar navbar-light bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        
        <nav class="navbar navbar-light bg-primary">
            <a class="navbar-brand" href="#">
                <img src="https://www.underconsideration.com/brandnew/archives/flipkart_logo_detail_icon.jpg"
                    width="30" height="30" class="d-inline-block align-top" alt="">
                Flipkart
            </a>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
               
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="add">New Boook </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="list">List Books </a>
                    </li>
                   </ul>
                   
            </div>
        </nav>
</nav>
</div>

